.sun-icon {
  width: 40px;
  margin: 0 auto;
  display: block;
  animation: rotate 10s 0s linear infinite;
  fill: black;
  transition: all 0.4s;
  position: relative;
  left: 169px;
  top: -62px;

  .ray,
  .circle {
    stroke: black;
    transition: all 0.4s;
  }

  &:hover {
    fill: dodgerblue;
    transition: all 0.4s;
    .ray,
    .circle {
      stroke: dodgerblue;
      transition: all 0.4s;
    }
  }
}

@media screen and (max-width: 600px) {
  .sun-icon {
    width: 40px;
    margin: 0 auto;
    display: block;
    animation: rotateMobile 10s 0s linear infinite;
    fill: black;
    transition: all 0.4s;
    position: relative;
    left: 135px;
    top: -81px;
  }
}

@keyframes rotateMobile {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: scale(1.4) rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
