body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  /* min-height: 100vh; */
  height: calc(100vh - calc(100vh - 100%));

  /* mobile viewport bug fix */
  /* min-height: -webkit-fill-available; */
}

@supports (-webkit-touch-callout: none) {
  body {
    /* min-height: 100vh; */
    height: calc(100vh - calc(100vh - 100%));

    /* The hack for Safari */
    /* height: -webkit-fill-available; */
  }
  .App {
    /* min-height: 100vh; */
    height: calc(100vh - calc(100vh - 100%));

    /* The hack for Safari */
    /* height: -webkit-fill-available; */
  }
}

html {
  height: calc(100vh - calc(100vh - 100%));
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  --button-text: black;
  --button-background: #eee;
  --main-title: black;
  --key-frame-border-color: #bbb;
  --play-again: black;
}
[data-theme="dark"] {
  --background: #10172a;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
  --button-text: white;
  --button-background: #475569;
  --main-title: white;
  --key-frame-border-color: white;
  --play-again: black;
}

.youWon {
  color: black;
}

.letterWord {
  font-size: 2em;
  color: var(--text-primary);
}

.changeBack {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  transition: all 0.5s;
  /* height: 100vh; */
  height: calc(100vh - calc(100vh - 100%));
}
button {
  /* color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  transition: all 0.5s; */
  /* background-color: var(--background); */
  border: 2px var(--text-primary) solid;
  transition: all 0.5s;
  /* background-color: #bbb; */
  all: unset;
  border: 5px #10172a solid;
  padding: 5px;
  color: var(--play-again);
  cursor: pointer;
}

h2 {
  color: #000;
}

.nightModeImg {
  width: 42px;
  position: relative;
  top: -26px;
  left: 168px;
}

h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 -27px 0;
  color: var(--main-title);
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--text-primary);
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}
.row > div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}
.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}
.row > div:nth-child(6) {
  animation-delay: 0.9s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}
.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eee;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}

.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

.firstRow {
  margin: 5px;
  width: 93%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 50px;
  max-width: 500px;
  margin: 20px auto;
  color: var(--button-text);
}
.firstRow > div {
  background-color: var(--button-background);

  width: 40px;
}

.firstRow > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}
.firstRow > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}
.firstRow > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}

.secondRow {
  margin: 5px;
  width: 93%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 50px;
  max-width: 500px;
  margin: 20px auto;
  color: var(--button-text);
}
.secondRow > div {
  /* background-color: #eee; */
  background-color: var(--button-background);
  width: 40px;
}

.secondRow > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}
.secondRow > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}
.secondRow > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}

.thirdRow {
  margin: 5px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 50px;
  max-width: 500px;
  /* margin: 20px auto; */
  color: var(--button-text);

  margin: 0px -6px 20px 20px;
}
.thirdRow > div {
  /* background-color: #eee; */
  background-color: var(--button-background);

  width: 40px;
}

.thirdRow > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}
.thirdRow > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}
.thirdRow > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 40px;
}

.handleEnterwidth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterText {
  font-size: 20px;
  /* background-color: #eee; */
  background-color: var(--button-background);
  color: var(--text-primary);

  padding: 12px;
}

.Enter {
  position: relative;
  left: 21px;
  bottom: 11px;
  color: var(--button-text);
}

.backSpaceWidth {
  position: relative;
  bottom: 11px;
  color: var(--button-text);
}

.modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.enterMobile {
  display: none;
}

.backspaceMobile {
  display: none;
}
/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: var(--key-frame-border-color);
  }
}

@media screen and (max-width: 600px) {
  .nightModeImg {
    top: -7px;
  }
  .row {
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--text-primary);
  }
  .row > div {
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #bbb;
    margin: 4px;
    text-align: center;
    line-height: 49px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
  }
  .thirdRow {
    margin: 5px;
    width: 93%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 50px;
    max-width: 500px;
    margin: 0px auto;
    color: var(--button-text);
  }

  .thirdRow > div.green {
    width: 33px;
  }
  .thirdRow > div.yellow {
    width: 33px;
  }
  .thirdRow > div.grey {
    width: 33px;
  }

  .firstRow > div.green {
    width: 30px;
  }
  .firstRow > div.yellow {
    width: 30px;
  }
  .firstRow > div.grey {
    width: 30px;
  }
  .firstRow > div {
    background-color: var(--button-background);

    width: 30px;
  }

  .secondRow > div.green {
    width: 33px;
  }
  .secondRow > div.yellow {
    width: 33px;
  }
  .secondRow > div.grey {
    width: 33px;
  }

  .firstRow {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 50px;
    max-width: 500px;
    margin: 15px auto;
  }

  .secondRow {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 50px;
    max-width: 500px;
    margin: 15px auto;
  }
  .secondRow > div {
    background-color: var(--button-background);
    width: 33px;
  }
  .Enter {
    display: none;
  }

  .backSpaceWidth {
    display: none;
  }

  .enterMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .backspaceMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .enterTextMobile {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    width: 63%;
    background-color: var(--button-background);
  }

  .backTextMobile {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    width: 63%;
    background-color: var(--button-background);
  }
  h1 {
    padding: 10px 0;
    margin: 0 0 -37px 0;
  }

  .mobileSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
  }
}
